section.accesos.u-container
	.row
		.col.s3
			a.accesos--item(href="javascript:;")
				.accesos--item--icono
					span.icon-lapiz
				h3.accesos--item--titulo Crear solicitud
				p.accesos--item--texto Lorem ipsum dolor sit amet, mutat graeco volumus ad eam,  singulis patrioque comprehensam nam nolorem retromer.
		.col.s3
			a.accesos--item(href="javascript:;")
				.accesos--item--icono
					span.icon-doc-ok
				h3.accesos--item--titulo Mis solicitudes
				p.accesos--item--texto Lorem ipsum dolor sit amet, mutat graeco volumus ad eam,  singulis patrioque comprehensam nam nolorem retromer.
		.col.s3
			a.accesos--item(href="javascript:;")
				.accesos--item--icono
					span.icon-doc
				h3.accesos--item--titulo Mis reportes
				p.accesos--item--texto Lorem ipsum dolor sit amet, mutat graeco volumus ad eam,  singulis patrioque comprehensam nam nolorem retromer.
		.col.s3
			a.accesos--item(href="javascript:;")
				.accesos--item--icono
					span.icon-maleta
				h3.accesos--item--titulo Gestor documental
				p.accesos--item--texto Lorem ipsum dolor sit amet, mutat graeco volumus ad eam,  singulis patrioque comprehensam nam nolorem retromer.
