section.banner
	figure.banner--foto
		img.u-foto-desktop(src="img/banner-desktop.jpg", alt="")
		img.u-foto-mobile(src="img/banner-desktop-mobile.jpg", alt="")
	h1.banner--texto.wow.fadeIn( data-wow-delay=".1s") Bienvenidos al 
		br
		| portal legal mall plaza
	.mouse-scroll
		span