.buscador.buscador__general
	.buscador--container
		form(action='', autocomplete='on')
			input#search(name='search', type='text', placeholder="Buscar la solicitud que necesitas crear")
			input#search_submit(value='Rechercher', type='submit')
