.buscador.buscador__general
	.buscador--container
		form(action='', autocomplete='on')
			input#search(name='search', type='text', placeholder="Qué estás buscando ?")
			input#search_submit(value='Rechercher', type='submit')
