footer.footer
	.u-container
		.row
			.col.s3
				figure.footer--logotipo
					img(src="img/logotipo-vertical.png", alt="Logotipo mall plaza")
			.col.s3
				ul.footer--menu
					li.footer--menu--item.footer--menu--item__titulo
						| Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Normativa vigente
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
			.col.s3
				ul.footer--menu
					li.footer--menu--item.footer--menu--item__titulo
						| Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Normativa vigente
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
					li.footer--menu--item
						a(href="javascript:;") Enlaces de interés
			.col.s3
				ul.footer--menu
					li.footer--menu--item.footer--menu--item__titulo
						| Contacto
					li.footer--menu--item
						a(href="javascript:;") Tel. +562 2555 5555
					li.footer--menu--item
						a(href="javascript:;") Tel. +562 2555 5555
					li.footer--menu--item
						a(href="javascript:;") Email. contacto@mallplaza.cl
					li.footer--menu--item
						a(href="javascript:;") Dirección . Mi ubicación #4457, Providencia
					li.footer--menu--item.footer--menu--item__social
						a(href="javascript:;")
							span.icon-facebook_L 
						a(href="javascript:;")
							span.icon-twitter_L 
						a(href="javascript:;")
							span.icon-yputube 
	.footer--copy
		.u-container
			.row
				.col.s8
					a.footer--copy--menu(href="javascript:;") Privacidad y seguridad
					a.footer--copy--menu(href="javascript:;") Mapa del sitio
					a.footer--copy--menu(href="javascript:;") Noticias RSS
				.col.s4
					P.footer--copy--legal Copyright © 2017 | Mall Plaza todos los derechos reservados
					
   

   

script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/materialize/dist/js/materialize.min.js")
script(src="lib/jquery-validation/dist/jquery.validate.min.js")
script(src="lib/Materialize-stepper/materialize-stepper.min.js")
script(src="js/lib/wow.min.js")
script(src="js/main.js")
