.titulo
	h2.titulo--nombre
		span.icon-mallPlaza
		| Mis solicitudes
	p.titulo--bajada Erat tortor ac nibh. Pellentesque facilisis tellus nec dignissim placerat. Proin non nunc justo. Fusce vitae diam eu neque placerat auctor ut.