header.header
	.u-container
		.row
			.col.s3
				figure.header--logotipo
					img(src="img/logotipo-horizontal.png", alt="Logotipo horizontal Mall Plaza")
			.col.s9
				.header--nav
					ul.header--nav--menu
						li.menu--item
							a(href="javascript:;") Inicio
						li.menu--item
							a.dropdown-button(href="javascript:;" data-activates='solicitud') Crear solicitud

							ul#solicitud.dropdown-content.dropMenu
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;") Contratos
									ul.dropMenu--item--option
										li.option--item
											a.option--item--link(href="javascript:;") Acuerdo de confidencialidad ( NDA)
										li.option--item
											a.option--item--link(href="javascript:;") Contratos de servicios
										li.option--item
											a.option--item--link(href="javascript:;") Contrato de arriendo
										li.option--item
											a.option--item--link(href="javascript:;") Contrato de asociación
								li.dropMenu--item
									a.dropMenu--item--link(href="javascrip:;") Consultas generales
									ul.dropMenu--item--option
										li.option--item
											a.option--item--link(href="javascript:;") uno
										li.option--item
											a.option--item--link(href="javascript:;") dos
										li.option--item
											a.option--item--link(href="javascript:;") tres
								li.dropMenu--item
									a.dropMenu--item--link(href="javascrip:;") Poderes y actos asociados
									ul.dropMenu--item--option
										li.option--item
											a.option--item--link(href="javascript:;") uno
										li.option--item
											a.option--item--link(href="javascript:;") dos
										li.option--item
											a.option--item--link(href="javascript:;") tres
								li.dropMenu--item
									a.dropMenu--item--link(href="javascrip:;") Bases promocionales
									ul.dropMenu--item--option
										li.option--item
											a.option--item--link(href="javascript:;") uno
										li.option--item
											a.option--item--link(href="javascript:;") dos
										li.option--item
											a.option--item--link(href="javascript:;") tres

						li.menu--item
							a(href="javascript:;") Mis solicitudes
						li.menu--item
							a(href="javascript:;") Mis tareas	
						li.menu--item
							a(href="javascript:;") Mis reportes
						li.menu--item
							a(href="javascript:;") Gestor documental
						li.menu--item.menu--item__user
							a.dropdown-button(href="javascript:;" data-activates='user-menu') 
								span.icon-avatar
								span.icon-down
							ul#user-menu.dropdown-content.user--menu
								.row.u-resetRow
									.col.s3
										figure.user--menu--avatar
											img(src="img/user.jpg", alt="foto de usuario")
									.col.s9
										.user--menu--info
											p.info--nombre Ignacio Undurraga P.
											p.info--rut 14.554.933 - 0
										a.btnMall.waves-effect.waves-light(href="javascript:;") Cerrar Sesión

	// iconos header mobile
	.header--iconMobile
		.header--iconMobile--burger
			.burger--stripe.burger--stripe__top
			.burger--stripe.burger--stripe__middle
			.burger--stripe.burger--stripe__bottom
	// FIN - iconos header mobile

	// Menú lateral
	ul.menuLateral
		.user--menu
				figure.user--menu--avatar
					img(src="img/user.jpg", alt="foto de usuario")
				.user--menu--info
					p.info--nombre Ignacio Undurraga P.
					p.info--rut 14.554.933 - 0
				.user--menu--cerrar
					span.icon-error
		li.menuLateral--item.menuLateral--item__active
			a.menuLateral--item--link(href="javascript:;") Inicio
		li.menuLateral--item.menuLateral--item__sub
			a.menuLateral--item--link(href="javascript:;") Crear solicitud
			ul.sub--menu
				li.sub--menu--item 
					a(href="javascrip:;") Contratos
					ul.dropMenu--mobile
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") Acuerdo de confidencialidad ( NDA)
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") Contrato de servicios
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") Contrato de arriendo
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") Contrato de asociación
				li.sub--menu--item
					a(href="javascrip:;") Consultas generales
					ul.dropMenu--mobile
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") uno
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") dos
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") tres
				li.sub--menu--item
					a(href="javascrip:;") Poderes y actos asociados
					ul.dropMenu--mobile
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") uno
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") dos
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") tres
				li.sub--menu--item
					a(href="javascrip:;") Bases promocionales
					ul.dropMenu--mobile
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") uno
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") dos
						li.dropMenu--mobile--item
							a.dropMenu--mobile--item--link(href="javascript:;") tres
		li.menuLateral--item
			a.menuLateral--item--link(href="javascript:;") Mis solicitudes
		li.menuLateral--item
			a.menuLateral--item--link(href="javascript:;") Mis tareas
		li.menuLateral--item
			a.menuLateral--item--link(href="javascript:;") Mis reportes
		li.menuLateral--item
			a.menuLateral--item--link(href="javascript:;") Gestor documental

		a.btnMall.waves-effect.waves-light(href="javascript:;") Cerrar Sesión

