header.header
	.u-container
		.row
			.col.s3
				.header--logotipo
					img(src="img/logotipo-horizontal.png", alt="Logotipo horizontal Mall Plaza")
			.col.s9
				.header--nav
					ul.header--nav--menu
						li.menu--item
							a(href="javascript:;") Inicio
						li.menu--item
							a(href="javascript:;") Crear solicitud
						li.menu--item
							a(href="javascript:;") Mis solicitudes
						li.menu--item
							a(href="javascript:;") Mis tareas	
						li.menu--item
							a(href="javascript:;") Mis reportes
						li.menu--item
							a(href="javascript:;") Gestor documental
						li.menu--item.menu--item__user
							a(href="javascript:;") 
								span.icon-avatar
								span.icon-down

section.banner
	.banner--foto
		img(src="img/banner-desktop.jpg", alt="")
