section.question
	h2.question--titulo
		span.icon-mallPlaza
		| Preguntas frecuentes
	p.question--subtitulo Erat tortor ac nibh. Pellentesque facilisis tellus nec dignissim placerat. Proin non nunc justo. Fusce vitae diam eu neque placerat auctor ut.

	ul.question--collapsible.collapsible(data-collapsible='accordion')
		li
			.collapsible-header
				| Esta es uns pregunta muy recurrente dentro del sitio mall plaza
				span.question--collapsible--icon.icon-down
			.collapsible-body
				span quis a nisi. Ut sit amet cursus odio. Vivamus odio risus, finibus ac vulputate quis, lacinia vitae tortor. Nunc vitae mollis augue. Suspendisse pharetra volutpat aliquet. Aliquam erat volutpat. Praesent aliquet sit amet nulla in sagittis. Ut ultricies sapien non porta iaculis. Aliquam erat volutpat.

		li
			.collapsible-header
				| Pregunta dos
				span.question--collapsible--icon.icon-down
			.collapsible-body
				span quis a nisi. Ut sit amet cursus odio. Vivamus odio risus, finibus ac vulputate quis, lacinia vitae tortor. Nunc vitae mollis augue. Suspendisse pharetra volutpat aliquet. Aliquam erat volutpat. Praesent aliquet sit amet nulla in sagittis. Ut ultricies sapien non porta iaculis. Aliquam erat volutpat.

		li
			.collapsible-header
				| Pregunta tres
				span.question--collapsible--icon.icon-down
			.collapsible-body
				span quis a nisi. Ut sit amet cursus odio. Vivamus odio risus, finibus ac vulputate quis, lacinia vitae tortor. Nunc vitae mollis augue. Suspendisse pharetra volutpat aliquet. Aliquam erat volutpat. Praesent aliquet sit amet nulla in sagittis. Ut ultricies sapien non porta iaculis. Aliquam erat volutpat.

		li
			.collapsible-header
				| Pregunta cuatro
				span.question--collapsible--icon.icon-down
			.collapsible-body
				span quis a nisi. Ut sit amet cursus odio. Vivamus odio risus, finibus ac vulputate quis, lacinia vitae tortor. Nunc vitae mollis augue. Suspendisse pharetra volutpat aliquet. Aliquam erat volutpat. Praesent aliquet sit amet nulla in sagittis. Ut ultricies sapien non porta iaculis. Aliquam erat volutpat.

		li
			.collapsible-header
				| Pregunta cinco
				span.question--collapsible--icon.icon-down
			.collapsible-body
				span quis a nisi. Ut sit amet cursus odio. Vivamus odio risus, finibus ac vulputate quis, lacinia vitae tortor. Nunc vitae mollis augue. Suspendisse pharetra volutpat aliquet. Aliquam erat volutpat. Praesent aliquet sit amet nulla in sagittis. Ut ultricies sapien non porta iaculis. Aliquam erat volutpat.

		li
			.collapsible-header
				| Pregunta seis
				span.question--collapsible--icon.icon-down
			.collapsible-body
				span quis a nisi. Ut sit amet cursus odio. Vivamus odio risus, finibus ac vulputate quis, lacinia vitae tortor. Nunc vitae mollis augue. Suspendisse pharetra volutpat aliquet. Aliquam erat volutpat. Praesent aliquet sit amet nulla in sagittis. Ut ultricies sapien non porta iaculis. Aliquam erat volutpat.