@mixin font-size($size){
   $rem: $size / 16; // tamaño base
   font-size: $size * 1px;
   font-size: $rem * 1rem;
}

@mixin line-height($size){
   $rem: $size / 16; // tamaño base
   line-height: $size * 1px;
   line-height: $rem * 1rem;
}





// Utiles para animaciones Hover css

@mixin hideTapHighlightColor() {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


