.buscador{
	border-bottom: 1px solid #E8E8E8;
	margin: 0 auto;
	max-width: 800px;
	text-align: right;
	width: 100%;

	.buscador--container {
	  display: inline-block;
	  height: 60px;
	  margin: 0;
	  padding: 0;
	  position: relative;
	}

	input[type="text"] {
	  background: none;
	  border: none;
	  color: #C3C3C3;
	  cursor: pointer;
	  display: inline-block;
	  @include font-size(24);
	  font-weight: 300;
	  height: 60px;
	  outline: none;
	  padding: 3px;
	  padding-right: 60px;
	  position: absolute;
	  top: 0;
	  right: 0;
	  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	  width: 0;
	  z-index: 3;
	}

	input[type="text"]:focus:hover {
	  border-bottom: 1px solid $primary-color !important;
	}

	input[type="text"]:focus {
	  border-bottom: 1px solid $primary-color !important;
	  box-shadow: 0 1px 0 0 $primary-color !important;
	  cursor: text;
	  width: 740px;
	  z-index: 1;
	}
	input[type="submit"] {
	  background: url(../img/lupa-gris.png) center center no-repeat;
	  background-size: 50%;
	  border: none;
	  cursor: pointer;
	  display: inline-block;
	  float: right;
	  height: 67px;
	  outline: none;
	  opacity: 0.4;
	  position: absolute;
	  top: 0;
	  right: 0;
	  text-indent: -10000px;
	  transition: opacity .4s ease;
	  width: 63px;
	  z-index: 2;
	}

	input[type="submit"]:hover {
	  opacity: 0.8;
	}
}