.btnMall{
	background-color: $primary-color;
	border:1px solid $primary-color;
	border-radius: 5px;
	color: #fff;
	@include font-size(14);
	font-weight: 400;
	height: 50px;
	line-height: 50px;
	// padding: .5em 1.5em;
	text-align: center;
	width: 220px;

	&:hover{
		color: 	rgba(255, 255, 255, .7);
	}
}

.btnMall__custom{
	background-color: #fff;
	border:1px solid $secondary-color;
	color: $secondary-color;

	&:hover{
		color: 	#8D8E94;
	}
}



.titulo{
	@include font-size(22);
	@include line-height(30);
	font-weight: 600;
	margin: 0 auto;
	text-align: center;

	@media(max-width: 768px){
        @include font-size(18);
		@include line-height(22);
    }

    @media(max-width: 480px){
        @include font-size(14);
		@include line-height(20);
    }

	&--nombre{
		@include font-size(36);
		@include line-height(49);

		@media(max-width: 480px){
	        @include font-size(22);
			@include line-height(26);
	    }
		span{
			margin-right: .3em;
			&:before{
				color: $primary-color;
			}
		}
	}


	&--bajada{
		font-weight: 400;
		margin: 0 auto;
		max-width: 800px;
		opacity: .5;
		width: 100%;
	}
}
