.header{
	background-color: 	rgba(0, 0, 0, .5);
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header--logotipo{
	margin-top: 1.5em;
	transition: all .3s;
	width: 200px;
	&:hover{
		width: 190px;
	}
}

.header--nav--menu{
	line-height: 90px;
	text-align: right;

}

.menu--item{
	display: inline-block;
	margin-right: 1.5em;

	a{
		color: #fff;
		@include font-size(16);
		@include line-height(22);
		transition: all .3s;
		&:hover{
			color: $primary-color;
		}
	}

}

.menu--item__user{
	a{
		@include font-size(30);
		vertical-align: middle;
		
	}

	span:before{
		color: #fff;
	}

	span:last-child{
		@include font-size(7);
		margin-left: 1em;
		position: relative;
		top: -1em;
		transition: all .3s;
	}

	a:hover{

		span:last-child{
			top: -.3em;
		}
	}

}


.user--menu{
	background-color: #fff;
	border: 1px solid #9B9B9B;
	border-radius: 5px;
	// margin-top: 40px;
	padding: 1.5em 1em 0 1em;
	text-align: left;
	width: 300px !important;

	&--avatar{
		border-radius: 50%;
		overflow: hidden;
		width: 60px;
	}
	&--info{
		border-bottom: 1px solid #9B9B9B;
		color: $primary-color;
		@include font-size(16);
		@include line-height(19);
		font-weight: 600;
		margin-left: .5em;

		.info--rut{
			color: #9B9B9B;
			@include font-size(14);
			font-weight: 400;
			margin: .3em 0 1em 0;
		}
	}

	.btnMall{
		@include font-size(14);
		margin: -1.5em 0 0 .5em;
		&:hover{
			color: 	rgba(255, 255, 255, .7);
		}
	}
}


.dropMenu{
	border-radius: 5px;
	.dropMenu--item{
		&:hover{
			background-color: #fff;
		}
		.dropMenu--item--link{
			color: $secondary-color;
			@include font-size(16);
			font-weight: 600;

			&__sub{
				color: #87888B;
				@include font-size(14);
				font-weight: 400;
				margin-left: 1.5em;
				padding: .5em 1em;
			}

			&:hover{
				color: $primary-color;
			}

			&__titulo:hover{
				color: $secondary-color;
			}
		}
	
	}
}








	




