.header{
	background-color: 	rgba(0, 0, 0, .5);
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header--logotipo{
	margin-top: 1.5em;
	transition: all .3s;
	width: 200px;
	&:hover{
		width: 190px;
	}
}

.header--nav--menu{
	line-height: 90px;
	text-align: right;
}

.menu--item{
	display: inline-block;
	margin-right: 1.5em;
	a{
		color: #fff;
		@include font-size(16);
		@include line-height(22);
		transition: all .3s;
		&:hover{
			color: $primary-color;
		}
	}

}

.menu--item__user{
	a{
		@include font-size(30);
		vertical-align: middle;
		
	}

	span:before{
		color: #fff;
	}

	span:last-child{
		@include font-size(7);
		margin-left: 1em;
		position: relative;
		top: -1em;
		transition: all .3s;
	}

	a:hover{

		span:last-child{
			top: -.3em;
		}
	}
}




