.header{
	background-color: 	rgba(0, 0, 0, .5);
	height: 90px;
	position: fixed; // estaba absolute
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header--logotipo{
	margin-top: 1.5em;
	transition: all .3s;
	width: 200px;
	&:hover{
		width: 190px;
	}

	@media(max-width: 480px){
		width: 150px;
		margin-top: 2.2em;
			&:hover{
			width: 130px;
		}
	}
}

.header--nav{
	@media(max-width: 1170px){
		display: none;
	}
}

.header--nav--menu{
	line-height: 90px;
	text-align: right;

}

.menu--item{
	display: inline-block;
	margin-right: 1.5em;

	a{
		color: #fff;
		@include font-size(16);
		@include line-height(22);
		transition: all .3s;
		&:hover{
			color: $primary-color;
		}
	}

}

.menu--item__user{
	a{
		@include font-size(30);
		vertical-align: middle;
		
	}

	span:before{
		color: #fff;
	}

	span:last-child{
		@include font-size(7);
		margin-left: 1em;
		position: relative;
		top: -1em;
		transition: all .3s;
	}

	a:hover{

		span:last-child{
			top: -.3em;
		}
	}

}


.user--menu{
	background-color: #fff;
	border: 1px solid #9B9B9B;
	border-radius: 5px;
	// margin-top: 40px;
	padding: 1.5em 1em 0 1em;
	text-align: left;
	width: 300px !important;

	&--avatar{
		border-radius: 50%;
		overflow: hidden;
		width: 60px;
	}
	&--info{
		border-bottom: 1px solid #9B9B9B;
		color: $primary-color;
		@include font-size(16);
		@include line-height(19);
		font-weight: 600;
		margin-left: .5em;

		.info--rut{
			color: #9B9B9B;
			@include font-size(14);
			font-weight: 400;
			margin: .3em 0 1em 0;
		}
	}

	.btnMall{
		@include font-size(14);
		margin: -1.5em 0 0 .5em;
		width: 140px;
		height: 40px;
		line-height: 40px;
		
		&:hover{
			color: 	rgba(255, 255, 255, .7);
		}
	}
}


.u-mostrar{
	display: inherit;
}


.dropMenu{
	border-radius: 5px;
	min-width: 300px;
	height: auto;
	max-height: 500px;
	overflow: scroll;
	.dropMenu--item{

		&--option{
			display: none;
			width: 100%;
			.option--item--link{
				color: #87888B;
				@include font-size(14);
				font-weight: 400;
				margin-left: 1.5em;
				padding: .5em 1em;
			}
			
		}

		&:hover{
			background-color: #fff;
		}

		.dropMenu--item--link{
			color: $secondary-color;
			@include font-size(16);
			font-weight: 600;

			&:hover{
				color: $primary-color;
			}

			&__titulo:hover{
				color: $secondary-color;
			}
		}

	}
}




// Menu mobile

/* Mobile iconos */
.header--iconMobile{
	display: none;
	position: absolute;
	top: 30%;
	right: 2%;

	@media(max-width: 1170px){
    	display: inherit;
    }

	&--text{
		@include font-size(16);
		display: inline-block;
		margin-right: .5em;
		vertical-align: middle;
	}

	&--burger {
		background-color: transparent;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
		height: 40px;
		margin-top: 5px;
		transition: all .3s ease-out;
		vertical-align: middle;
		width: 40px;
	}

}

.burger--stripe {
	backface-visibility: hidden;
	background: #fff;
	height: 2px;
	margin: 8px auto;
	transition: all 0.3s;
	width: 85%;
	&:nth-child(2){
		position: relative;
		left: -4px;
		width: 60%;
	}
}

.on .burger--stripe__top {
	background-color: #fff;
	transform: rotate(45deg) translate(7px, 7px);
}

.on .burger--stripe__middle {
	opacity: 0;
}

.on .burger--stripe__bottom {
	background-color: #fff;
	transform: rotate(-45deg) translate(7px, -7px);
}

/* FIN - mobile iconos */



    /* Menu lateral ( mobile ) */
    .menuLateral{
    	border: 1px solid #9B9B9B;
    	display: inline-block;
    	background-color: rgba(0, 0, 0, 0.5);
    	height: 100vh;
	   	overflow: hidden;
    	position: fixed;
    	top: 0;
    	right: -100%;
	   	padding-bottom: 10em;
	   	transition: all .5s ease-out;
	   	text-align: right;
	   	width: 40%;
	   	z-index: 100; // estaba en 0

	   	@media(max-width: 768px){
            width: 50%;
        }

        @media(max-width: 480px){
        	overflow: scroll;
	        width: 100%;
	    }


	   .user--menu{
		   	border-radius: 0 !important;
		   	border: none;
		   	border-bottom: 1px solid #9B9B9B;
		   	display: inline-block;
		   	padding: 1em;
		   	text-align: right;
		   	padding-right: 1em;
		   	width: 100% !important;

		   	.user--menu--avatar, .user--menu--info{
		   		border-bottom: none;
		   		display: inline-block;
		   		margin-left: 1em;
		   		vertical-align: middle;
		   	}

		   	.user--menu--cerrar{
		   		position: absolute;
		   		top: 1em;
		   		left: 1em;
		   	}
	   	}

	   	&--item{
	   		margin: 1em 1em 0 0;
	   		opacity: 1;
	  	}

	   	&--item--link{
	   		color: $secondary-color;
	   		display: block;
	   		@include font-size(20);
	   		font-weight: 600;
	   		transition: all .3s;

	   		&:hover{
	   			color: $primary-color;
	   		}

	   	}

	   	&--item__sub{
	   		.sub--menu{
	   			margin: 1.5em 0 2em 0;

	   			a{
					color: $secondary-color;
					display: block;
					opacity: .8;

					&:hover{
	   					color: $primary-color;
	   				}
				}

				&--item > a{
					font-weight: 600;
					opacity: 1;
	   			}
	   		}	
	   	}


	   	.dropMenu--mobile{
	   		display: none;
	   		width: 100%;
	   	}

	   	.btnMall{
	   		margin: 5em 1em 0 0;
	   	}

	}








	




