.question{
	background-color: $secondary-color;
	color: #fff;
	margin-top: 8em;
	padding: 2em 0;
	background-image:url("../img/mallPlaza.svg");
	background-repeat: no-repeat;
	background-size: 1500px;
	background-position: -200px -1000px;
	//background-position: 90% 100%; // background se mueve proporcional al viewport

	&--titulo{
		@include font-size(36);
		@include line-height(49);
		font-weight: 400;

		span{
			margin-right: .3em;
			&:before{
				color: $primary-color;
			}
		}
	}

	&--subtitulo{
		margin: 0 auto;
		max-width: 700px;
		opacity: .5;
		width: 100%;
	}



	.collapsible{
		border: none;
		box-shadow: none;
		margin-top: 5em;
		height: 400px;
		overflow-y: scroll; 

		li{
			padding: 1em 0;
		}
	}

	.collapsible li.active{
		background-color: 	rgba(0, 0, 0, .5);
	}

	.collapsible-header{
		@include font-size(20);
		background-color: transparent;
		border: none;
		max-width: 1170px;
		margin: 0 auto;
		position: relative;
		padding-left: 3em;
		padding-right: 3em;

		span{
			@include font-size(10);
			position: absolute;
			top: 28px;
			right: 20px;
			&:before{
				color: #fff;
			}

			&.icon-up:before{
				color: $primary-color;
			}
		}

		&:before{
			border-radius: 50%;
			background-color: #fff;
			content: '';
			height: 7px;
			position: absolute;
			left: 20px;
			top: 28px;
			width: 7px;
		}

	}

	.collapsible-body{
		@include font-size(14);
		border: none;
		max-width: 800px;
		margin: 0 auto;
		text-align: left;
		span{
			opacity: .5;
		}
	}
}