.question{
	background-color: $secondary-color;
	color: #fff;
	margin-top: 8em;
	padding: 2em 0;
	background-image:url("../img/mallPlaza.svg");
	background-repeat: no-repeat;
	background-size: 1500px;
	background-position: -200px -1000px;
	//background-position: 90% 100%; // background se mueve proporcional al viewport
	position: relative;

	&--titulo{
		@include font-size(36);
		@include line-height(49);
		font-weight: 400;

		span{
			margin-right: .3em;
			&:before{
				color: $primary-color;
			}
		}
	}

	&--subtitulo{
		margin: 0 auto;
		max-width: 700px;
		opacity: .5;
		width: 100%;
	}



	.collapsible{
		border: none;
		box-shadow: none;
		margin-top: 5em;
		height: 400px;
		overflow-y: scroll; 

		li{
			padding: 1em 0;
		}
	}

	.collapsible li.active{
		background-color: 	rgba(0, 0, 0, .5);
	}

	.collapsible-header{
		@include font-size(20);
		background-color: transparent;
		border: none;
		max-width: 1170px;
		margin: 0 auto;
		position: relative;
		padding-left: 3em;
		padding-right: 3em;

		span{
			@include font-size(10);
			position: absolute;
			top: 28px;
			right: 20px;
			&:before{
				color: #fff;
			}

			&.icon-up:before{
				color: $primary-color;
			}
		}

		&:before{
			border-radius: 50%;
			background-color: #fff;
			content: '';
			height: 7px;
			position: absolute;
			left: 20px;
			top: 28px;
			width: 7px;
		}

	}

	.collapsible-body{
		@include font-size(14);
		border: none;
		max-width: 800px;
		margin: 0 auto;
		text-align: left;
		span{
			opacity: .5;
		}
	}


	.buscador{
		border-bottom: none;
		position: absolute;
		right: 4%;
		top: 55px;
		transition: all .3s;
		width: 250px;

		@media(max-width: 1200px){
            right: 1%;
        }

		@media(min-width: 1400px){
            right: 9%;
        }

        @media(min-width: 1600px){
            right: 13%;
        }

        @media(min-width: 1800px){
            right: 19%;
         }

		input[type="text"] {
		  color: #fff;
		  @include font-size(18);
		}

		input[type="text"]:focus {
		  width: 250px;
		}
		input[type="submit"] {
		  background: url(../img/lupa-blanca.png) center center no-repeat;
		  background-size: 50%;
		}

		input[type="submit"]:hover {
		  opacity: 0.8;
		}
	}
}



.question__informacion{
	background-color: #fff;
	background-image: none;
	color: $secondary-color;
	margin-top: 5em;

	.collapsible li.active{
		background-color: 	$primary-color;
		color: #fff;
	}

	.collapsible-header{

		span{
			&:before{
				color: $primary-color;
			}

			&.icon-up:before{
				color: #fff;
			}
		}

		&:before{
			border-radius: 50%;
			border: 1px solid #fff;
			background-color: $primary-color;
			height: 8px;
			width: 8px;
		}

	}

	.collapsible-body{
		@include font-size(14);
		border: none;
		max-width: 800px;
		margin: 0 auto;
		text-align: left;
		span{
			opacity: .5;
		}
	}

}