doctype html
head
	meta(charset="utf-8")
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
	title Mall Plaza - Portal legal
	include templates/head
body
	h1 Portal legal Mall Plaza
		br
		br
		span.icon-arrow-up
	include templates/footer
