doctype html
head
	meta(charset="utf-8")
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
	title Mall Plaza - Mis solicitudes
	include templates/head
body
	include templates/header

	section.banner
		figure.banner--foto
			img.u-foto-desktop(src="img/banner-desktop.jpg", alt="")
			img.u-foto-mobile(src="img/banner-desktop-mobile.jpg", alt="")
		.mouse-scroll
			span
	
	section.misSolicitudes
		.u-container
			.titulo
				h2.titulo--nombre
					span.icon-mallPlaza
					| Mis solicitudes
				p.titulo--bajada Erat tortor ac nibh. Pellentesque facilisis tellus nec dignissim placerat. Proin non nunc justo. Fusce vitae diam eu neque placerat auctor ut.

			.misSolicitudes--header
				.row
					.col.s12.m9
						h3.misSolicitudes--header--titulo Estado de mis solicitudes - 
							span#header-fecha Jueves 07 Sep 2017
					.col.s12.m3
						.misSolicitudes--header--icon
							a(href="javascrip:;")
								span.icon-lupa
							a(href="javascrip:;")
								span.icon-refresh
							a(href="javascrip:;")
								span.icon-descargar.tooltipped(data-position="top" data-delay="50" data-tooltip="descargar documento")
							a(href="javascrip:;")
								span.icon-print

			.misSolicitudes--filtros
				.row
					.input-field.col.s12.m3
						select
							option(value='' disabled selected ) País
							option(value='1') Chile
							option(value='2') Perú
							option(value='3') Argentina
					.input-field.col.s12.m3
						input#fecha.datepicker(name="fecha" type="text" required)
						label(for="fecha") Fecha
					.input-field.col.s12.m3
						input#fecha.datepicker(name="fecha" type="text" required)
						label(for="fecha") Fecha
					.col.s12.m3
						a.btnMall.waves-effect.waves-dark(href="javascript:;") Aplicar filtros

			.misSolicitudes--documentos
				ul.misSolicitudes--documentos--collapsible.collapsible(data-collapsible='accordion')
					li.misSolicitudes--documentos--item
						span.menu--option.icon-elipsis(data-activates='options')
							ul#options.dropdown-content.dropMenu
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-edit 
										| Editar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-lupa
										| Ver
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-clip 
										| Adjuntar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-descargar 
										| Descargar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-papelera 
										| Eliminar

						.collapsible-header
							.row
								.col.s7.m8
									.collapsible-header--info
										span.info--icon.info--icon__ok.tooltipped(data-position="top" data-delay="50" data-tooltip="Esta solicitud esta lista para ser aprobada")
										p.info--titulo Contrato de servicios Zenith Consulting
											span.info--titulo--razon - Social uno
								.col.s5.m4
									.collapsible-header--menu
										.menu--fecha 06 de Sep 2017,
											span.menu--fecha--hora 11:00
										span.menu--abrir.icon-arrow-up
										
						.collapsible-body
							.row
								.col.s11.col.offset-s1
									span.collapsible-body--info metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus, metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus  metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus 
								.col.s12.m2.offset-m1
									.collapsible-body--tab
										p.tab--titulo Fecha
										p.tab--detalle 06 de Sep 2017,
											span 11:00am
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Silicitud
										p.tab--detalle Vigencia de documentos
								.col.s12.m2
									.collapsible-body--tab
										p.tab--titulo Abogado
										p.tab--detalle Reimundo figueroa
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Aprobador
										p.tab--detalle Jefe
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Condición
										p.tab--detalle Definitivo
								.col.s12
									.collapsible-body--botones
										a.btnMall.btnMall__custom.waves-effect.waves-dark(href="javascript:;") Rechazar
										a.btnMall.waves-effect.waves-dark(href="javascript:;") Aprobar
					li.misSolicitudes--documentos--item
						span.menu--option.icon-elipsis(data-activates='options-2')
							ul#options-2.dropdown-content.dropMenu
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-edit 
										| Editar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-lupa
										| Ver
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-clip 
										| Adjuntar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-descargar 
										| Descargar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-papelera 
										| Eliminar

						.collapsible-header
							.row
								.col.s8
									.collapsible-header--info
										span.info--icon.info--icon__error.tooltipped(data-position="top" data-delay="50" data-tooltip="Esta solicitud esta rechazada")
										p.info--titulo Contrato de servicios Zenith Consulting
											span.info--titulo--razon - Social uno
								.col.s4
									.collapsible-header--menu
										.menu--fecha 06 de Sep 2017,
											span.menu--fecha--hora 11:00
										span.menu--abrir.icon-arrow-up
										
						.collapsible-body
							.row
								.col.s11.col.offset-s1
									span.collapsible-body--info metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus, metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus  metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus 
								.col.s12.m2.offset-m1
									.collapsible-body--tab
										p.tab--titulo Fecha
										p.tab--detalle 06 de Sep 2017,
											span 11:00am
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Silicitud
										p.tab--detalle Vigencia de documentos
								.col.s12.m2
									.collapsible-body--tab
										p.tab--titulo Abogado
										p.tab--detalle Reimundo figueroa
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Aprobador
										p.tab--detalle Jefe
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Condición
										p.tab--detalle Definitivo
								.col.s12
									.collapsible-body--botones
										a.btnMall.btnMall__custom.waves-effect.waves-dark(href="javascript:;") Rechazar
										a.btnMall.waves-effect.waves-dark(href="javascript:;") Aprobar
					li.misSolicitudes--documentos--item
						span.menu--option.icon-elipsis(data-activates='options-3')
							ul#options-3.dropdown-content.dropMenu
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-edit 
										| Editar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-lupa
										| Ver
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-clip 
										| Adjuntar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-descargar 
										| Descargar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-papelera 
										| Eliminar

						.collapsible-header
							.row
								.col.s8
									.collapsible-header--info
										span.info--icon.info--icon__warning.tooltipped(data-position="top" data-delay="50" data-tooltip="Esta solicitud tiene observaciones")
										p.info--titulo Contrato de servicios Zenith Consulting
											span.info--titulo--razon - Social uno
								.col.s4
									.collapsible-header--menu
										.menu--fecha 06 de Sep 2017,
											span.menu--fecha--hora 11:00
										span.menu--abrir.icon-arrow-up
										
						.collapsible-body
							.row
								.col.s11.col.offset-s1
									span.collapsible-body--info metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus, metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus  metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus 
								.col.s12.m2.offset-m1
									.collapsible-body--tab
										p.tab--titulo Fecha
										p.tab--detalle 06 de Sep 2017,
											span 11:00am
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Silicitud
										p.tab--detalle Vigencia de documentos
								.col.s12.m2
									.collapsible-body--tab
										p.tab--titulo Abogado
										p.tab--detalle Reimundo figueroa
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Aprobador
										p.tab--detalle Jefe
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Condición
										p.tab--detalle Definitivo
								.col.s12
									.collapsible-body--botones
										a.btnMall.btnMall__custom.waves-effect.waves-dark(href="javascript:;") Rechazar
										a.btnMall.waves-effect.waves-dark(href="javascript:;") Aprobar
					li.misSolicitudes--documentos--item
						span.menu--option.icon-elipsis(data-activates='options-4')
							ul#options-4.dropdown-content.dropMenu
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-edit 
										| Editar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-lupa
										| Ver
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-clip 
										| Adjuntar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-descargar 
										| Descargar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-papelera 
										| Eliminar

						.collapsible-header
							.row
								.col.s8
									.collapsible-header--info
										span.info--icon.info--icon__ok.tooltipped(data-position="top" data-delay="50" data-tooltip="Esta solicitud esta lista para ser aprobada")
										p.info--titulo Contrato de servicios Zenith Consulting
											span.info--titulo--razon - Social uno
								.col.s4
									.collapsible-header--menu
										.menu--fecha 06 de Sep 2017,
											span.menu--fecha--hora 11:00
										span.menu--abrir.icon-arrow-up
										
						.collapsible-body
							.row
								.col.s11.col.offset-s1
									span.collapsible-body--info metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus, metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus  metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus 
								.col.s12.m2.offset-m1
									.collapsible-body--tab
										p.tab--titulo Fecha
										p.tab--detalle 06 de Sep 2017,
											span 11:00am
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Silicitud
										p.tab--detalle Vigencia de documentos
								.col.s12.m2
									.collapsible-body--tab
										p.tab--titulo Abogado
										p.tab--detalle Reimundo figueroa
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Aprobador
										p.tab--detalle Jefe
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Condición
										p.tab--detalle Definitivo
								.col.s12
									.collapsible-body--botones
										a.btnMall.btnMall__custom.waves-effect.waves-dark(href="javascript:;") Rechazar
										a.btnMall.waves-effect.waves-dark(href="javascript:;") Aprobar
					li.misSolicitudes--documentos--item
						span.menu--option.icon-elipsis(data-activates='options-5')
							ul#options-5.dropdown-content.dropMenu
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-edit 
										| Editar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-lupa
										| Ver
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-clip 
										| Adjuntar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-descargar 
										| Descargar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-papelera 
										| Eliminar

						.collapsible-header
							.row
								.col.s8
									.collapsible-header--info
										span.info--icon.info--icon__ok.tooltipped(data-position="top" data-delay="50" data-tooltip="Esta solicitud esta lista para ser aprobada")
										p.info--titulo Contrato de servicios Zenith Consulting
											span.info--titulo--razon - Social uno
								.col.s4
									.collapsible-header--menu
										.menu--fecha 06 de Sep 2017,
											span.menu--fecha--hora 11:00
										span.menu--abrir.icon-arrow-up
										
						.collapsible-body
							.row
								.col.s11.col.offset-s1
									span.collapsible-body--info metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus, metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus  metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus 
								.col.s12.m2.offset-m1
									.collapsible-body--tab
										p.tab--titulo Fecha
										p.tab--detalle 06 de Sep 2017,
											span 11:00am
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Silicitud
										p.tab--detalle Vigencia de documentos
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Abogado
										p.tab--detalle Reimundo figueroa
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Aprobador
										p.tab--detalle Jefe
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Condición
										p.tab--detalle Definitivo
								.col.s12
									.collapsible-body--botones
										a.btnMall.btnMall__custom.waves-effect.waves-dark(href="javascript:;") Rechazar
										a.btnMall.waves-effect.waves-dark(href="javascript:;") Aprobar
					li.misSolicitudes--documentos--item
						span.menu--option.icon-elipsis(data-activates='options-6')
							ul#options-6.dropdown-content.dropMenu
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-edit 
										| Editar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-lupa
										| Ver
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-clip 
										| Adjuntar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-descargar 
										| Descargar
								li.dropMenu--item 
									a.dropMenu--item--link(href="javascrip:;")
										span.icon-papelera 
										| Eliminar

						.collapsible-header
							.row
								.col.s8
									.collapsible-header--info
										span.info--icon.info--icon__ok.tooltipped(data-position="top" data-delay="50" data-tooltip="Esta solicitud esta lista para ser aprobada")
										p.info--titulo Contrato de servicios Zenith Consulting
											span.info--titulo--razon - Social uno
								.col.s4
									.collapsible-header--menu
										.menu--fecha 06 de Sep 2017,
											span.menu--fecha--hora 11:00
										span.menu--abrir.icon-arrow-up
										
						.collapsible-body
							.row
								.col.s11.col.offset-s1
									span.collapsible-body--info metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus, metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus  metus id lacus. Cras eu interdum nulla. Duis sodales, diam ac blandit molestie, massa orci faucibus 
								.col.s12.m2.offset-m1
									.collapsible-body--tab
										p.tab--titulo Fecha
										p.tab--detalle 06 de Sep 2017,
											span 11:00am
								.col.s12.m2
									.collapsible-body--tab
										p.tab--titulo Silicitud
										p.tab--detalle Vigencia de documentos
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Abogado
										p.tab--detalle Reimundo figueroa
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Aprobador
										p.tab--detalle Jefe
								.col.s12.m2 
									.collapsible-body--tab
										p.tab--titulo Condición
										p.tab--detalle Definitivo
								.col.s12
									.collapsible-body--botones
										a.btnMall.btnMall__custom.waves-effect.waves-dark(href="javascript:;") Rechazar
										a.btnMall.waves-effect.waves-dark(href="javascript:;") Aprobar

	include templates/footer