doctype html
head
	meta(charset="utf-8")
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
	title Mall Plaza - Nueva solicitud
	include templates/head
body
	include templates/header

	.solicitud
		.u-container
			.row.u-resetRow
				.col.s6
					.solicitud--titulo
						p.solicitud--titulo--encabezado Nueva solicitud
						p.solicitud--titulo--documento Modelo NDA y MOU
				.col.s6
					.buscador.buscador__form
						.buscador--container
							form(action='', autocomplete='on')
								input#search(name='search', type='text', placeholder="Ingresa la solicutud que buscas")
								input#search_submit(value='Rechercher', type='submit')
		
	include templates/formulario

	include templates/footer